@model List<MusteriModelView>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Html.Partial("_Kategori")*@

<partial name="_Kategori"/>
    <p class="text-danger lead">
        index actionun control ettiği view
    </p>

    <a asp-area="" asp-action="Index" asp-controller="Home" asp-route-id="1">Link</a>

@await Component.InvokeAsync("Urunler")

<div class="alert alert-light lead">
    @ViewBag.Cookie.Ad
    @ViewBag.Cookie.Soyad
</div>

@*<kategoriList></kategoriList>
<gizem gelen-data="Başka yazı"></gizem>

    <table>
        <tr>
            <td>ViewBag.Isim</td>
            <td>@ViewBag.Isim</td>
        </tr>
        <tr>
            <td>ViewData["Isim"]</td>
            <td>@ViewData["Isim"]</td>
        </tr>
        <tr>
            <td>TempData["Isim"]</td>
            <td>@TempData["Isim"]</td>
        </tr>
    </table>*@
    @*<h4>Modelden gelen data</h4>
    @foreach (var item in Model)
    {
        <p>@item.Ad</p>
    }*@

